# LAB 97

1. Zaimportuj moduł pandas i numpy, nadaj im standardowe aliasy. Do zmiennej air wczytaj zawartość pliku Air_Traffic_Passenger_Statistics.csv. Pobierz wszystkie kolumny. Zdefiniuj multiindex w oparciu o kolumny "Operating Airline","Activity Period","Activity Type Code", posortuj dane wg indeksu i wświetl nagłówek obiektu data frame.
2. Wyświetl informacje o lotach obsługiwanych przez Air France, w lipcu 2005 roku z zawężeniem danych dolądowania (klucz będzie zawierał dane: 'Air France',200507,'Enplaned')
3. Wyświetl informacje o lotach obsługiwanych przez Air France, w lipcu 2005 roku (klucz będzie zawierał dane: 'Air France',200507)
4. Wyświetl informacje o lotach obsługiwanych przez Air France (klucz będzie zawierał dane: 'Air France'). Ponieważ zbiór jest duży, wyświetl tylko początkowe wiersze.
5. Wyświetl informacje z kolumny 'Passenger Count dla klucza 'Air France',200507,'Enplaned'
6. Wyświetl informacje z kolumny 'Passenger Count dla klucza 'Air France',200507,'Deplaned'
7. Wyświetl wiersze od 20 do 25
8. Dla wierszy od 20 do 25 wyświetl informacje z kolumny 8

## Exercise 1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [2]:
air = pd.read_csv("./Air_Traffic_Passenger_Statistics.csv")
air.set_index(["Operating Airline","Activity Period","Activity Type Code"],inplace=True)
air.sort_index(inplace=True)
air.head(10)

                                                                            Operating Airline IATA Code  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                                    4O
                                                         Enplaned                                    4O
ATA Airlines                             200507          Deplaned                                    TZ
                                                         Enplaned                                    TZ
                                                         Thru / Transit                              TZ
                                         200508          Deplaned                                    TZ
                                                         Enplaned                                    TZ
                                                         Thru / Transit                              TZ
                                         200509          Deplaned                                    TZ
                                                         Enplaned                                    TZ

                                                                                                    Published Airline  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned            ABC Aerolineas S.A. de C.V. dba Interjet
                                                         Enplaned            ABC Aerolineas S.A. de C.V. dba Interjet
ATA Airlines                             200507          Deplaned                                        ATA Airlines
                                                         Enplaned                                        ATA Airlines
                                                         Thru / Transit                                  ATA Airlines
                                         200508          Deplaned                                        ATA Airlines
                                                         Enplaned                                        ATA Airlines
                                                         Thru / Transit                                  ATA Airlines
                                         200509          Deplaned                                        ATA Airlines
                                                         Enplaned                                        ATA Airlines

                                                                            Published Airline IATA Code  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                                    4O
                                                         Enplaned                                    4O
ATA Airlines                             200507          Deplaned                                    TZ
                                                         Enplaned                                    TZ
                                                         Thru / Transit                              TZ
                                         200508          Deplaned                                    TZ
                                                         Enplaned                                    TZ
                                                         Thru / Transit                              TZ
                                         200509          Deplaned                                    TZ
                                                         Enplaned                                    TZ

                                                                               GEO Summary  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned            International
                                                         Enplaned            International
ATA Airlines                             200507          Deplaned                 Domestic
                                                         Enplaned                 Domestic
                                                         Thru / Transit           Domestic
                                         200508          Deplaned                 Domestic
                                                         Enplaned                 Domestic
                                                         Thru / Transit           Domestic
                                         200509          Deplaned                 Domestic
                                                         Enplaned                 Domestic

                                                                            GEO Region  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned               Mexico
                                                         Enplaned               Mexico
ATA Airlines                             200507          Deplaned                   US
                                                         Enplaned                   US
                                                         Thru / Transit             US
                                         200508          Deplaned                   US
                                                         Enplaned                   US
                                                         Thru / Transit             US
                                         200509          Deplaned                   US
                                                         Enplaned                   US

                                                                            Price Category Code  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                         Other
                                                         Enplaned                         Other
ATA Airlines                             200507          Deplaned                      Low Fare
                                                         Enplaned                      Low Fare
                                                         Thru / Transit                Low Fare
                                         200508          Deplaned                      Low Fare
                                                         Enplaned                      Low Fare
                                                         Thru / Transit                Low Fare
                                         200509          Deplaned                      Low Fare
                                                         Enplaned                      Low Fare

                                                                                  Terminal  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned            International
                                                         Enplaned            International
ATA Airlines                             200507          Deplaned               Terminal 1
                                                         Enplaned               Terminal 1
                                                         Thru / Transit         Terminal 1
                                         200508          Deplaned               Terminal 1
                                                         Enplaned               Terminal 1
                                                         Thru / Transit         Terminal 1
                                         200509          Deplaned               Terminal 1
                                                         Enplaned               Terminal 1

                                                                            Boarding Area  \
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                       A
                                                         Enplaned                       A
ATA Airlines                             200507          Deplaned                       B
                                                         Enplaned                       B
                                                         Thru / Transit                 B
                                         200508          Deplaned                       B
                                                         Enplaned                       B
                                                         Thru / Transit                 B
                                         200509          Deplaned                       B
                                                         Enplaned                       B

                                                                             Passenger Count
Operating Airline                        Activity Period Activity Type Code
ABC Aerolineas S.A. de C.V. dba Interjet 201803          Deplaned                       1090
                                                         Enplaned                       1212
ATA Airlines                             200507          Deplaned                      27271
                                                         Enplaned                      29131
                                                         Thru / Transit                 5415
                                         200508          Deplaned                      27472
                                                         Enplaned                      26535
                                                         Thru / Transit                 5712
                                         200509          Deplaned                      17341
                                                         Enplaned                      18541

## Exercise 2

In [3]:
air.loc[('Air France',200507,'Enplaned')]

,,,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Price Category Code,Terminal,Boarding Area,Passenger Count
Operating Airline,Activity Period,Activity Type Code,,,,,,,,,
Air France,200507,Enplaned,AF,Air France,AF,International,Europe,Other,International,A,11638

In [13]:
#air.sort_values("Operating Airline", inplace=True)
filter1 = air["Operating Airline"]=="Air France"
#air_sort.where(filter)
#type(air)

KeyError: 'Operating Airline'

## Exercise 3

In [7]:
air.loc[('Air France',200507)]

,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Price Category Code,Terminal,Boarding Area,Passenger Count
Activity Type Code,,,,,,,,,
Deplaned,AF,Air France,AF,International,Europe,Other,International,A,12050
Enplaned,AF,Air France,AF,International,Europe,Other,International,A,11638

## Exercise 4

In [8]:
air.loc[('Air France')].head()

                                   Operating Airline IATA Code  \
Activity Period Activity Type Code
200507          Deplaned                                    AF
                Enplaned                                    AF
200508          Deplaned                                    AF
                Enplaned                                    AF
200509          Deplaned                                    AF

                                   Published Airline  \
Activity Period Activity Type Code
200507          Deplaned                  Air France
                Enplaned                  Air France
200508          Deplaned                  Air France
                Enplaned                  Air France
200509          Deplaned                  Air France

                                   Published Airline IATA Code    GEO Summary  \
Activity Period Activity Type Code
200507          Deplaned                                    AF  International
                Enplaned                                    AF  International
200508          Deplaned                                    AF  International
                Enplaned                                    AF  International
200509          Deplaned                                    AF  International

                                   GEO Region Price Category Code  \
Activity Period Activity Type Code
200507          Deplaned               Europe               Other
                Enplaned               Europe               Other
200508          Deplaned               Europe               Other
                Enplaned               Europe               Other
200509          Deplaned               Europe               Other

                                         Terminal Boarding Area  \
Activity Period Activity Type Code
200507          Deplaned            International             A
                Enplaned            International             A
200508          Deplaned            International             A
                Enplaned            International             A
200509          Deplaned            International             A

                                    Passenger Count
Activity Period Activity Type Code
200507          Deplaned                      12050
                Enplaned                      11638
200508          Deplaned                      11230
                Enplaned                      11731
200509          Deplaned                      10731

## Exercise 5

In [9]:
air.loc[('Air France',200507,'Enplaned'),'Passenger Count']

Operating Airline  Activity Period  Activity Type Code
Air France         200507           Enplaned              11638
Name: Passenger Count, dtype: int64

## Exercise 6

In [10]:
air.loc[('Air France',200507,'Deplaned'),'Passenger Count']

Operating Airline  Activity Period  Activity Type Code
Air France         200507           Deplaned              12050
Name: Passenger Count, dtype: int64

## Exercise 7

In [11]:
air.iloc[20:25]

                                                     Operating Airline IATA Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                                    TZ
                                  Thru / Transit                              TZ
                  200601          Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ

                                                     Published Airline  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                ATA Airlines
                                  Thru / Transit          ATA Airlines
                  200601          Deplaned                ATA Airlines
                                  Enplaned                ATA Airlines
                                  Thru / Transit          ATA Airlines

                                                     Published Airline IATA Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                                    TZ
                                  Thru / Transit                              TZ
                  200601          Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ

                                                     GEO Summary GEO Region  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned              Domestic         US
                                  Thru / Transit        Domestic         US
                  200601          Deplaned              Domestic         US
                                  Enplaned              Domestic         US
                                  Thru / Transit        Domestic         US

                                                     Price Category Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                      Low Fare
                                  Thru / Transit                Low Fare
                  200601          Deplaned                      Low Fare
                                  Enplaned                      Low Fare
                                  Thru / Transit                Low Fare

                                                        Terminal  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned            Terminal 1
                                  Thru / Transit      Terminal 1
                  200601          Deplaned            Terminal 1
                                  Enplaned            Terminal 1
                                  Thru / Transit      Terminal 1

                                                     Boarding Area  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                       B
                                  Thru / Transit                 B
                  200601          Deplaned                       B
                                  Enplaned                       B
                                  Thru / Transit                 B

                                                      Passenger Count
Operating Airline Activity Period Activity Type Code
ATA Airlines      200512          Enplaned                      16790
                                  Thru / Transit                 2402
                  200601          Deplaned                      13010
                                  Enplaned                      12226
                                  Thru / Transit                 3316

## Exercise 8

In [12]:
air.iloc[20:25,8]

Operating Airline  Activity Period  Activity Type Code
ATA Airlines       200512           Enplaned              16790
                                    Thru / Transit         2402
                   200601           Deplaned              13010
                                    Enplaned              12226
                                    Thru / Transit         3316
Name: Passenger Count, dtype: int64