# LAB 151

1. Zaimportuj moduł pandas i numpy nadaj im standardowe aliasy
2. Strona https://www.europeandataportal.eu/data/en/dataset/http-ec-europa-eu-eurostat-web-products-datasetsisoc_cimobi_frq (https://www.europeandataportal.eu/data/en/dataset/http-ec-europa-eu-eurostat-webproducts-datasets-isoc_cimobi_frq) zawiera informacje na temat wykorzystania mobilnego internetu w EU. Dane w postaci CSV znajdują się pod adresem http://ec.europa.eu/eurostat/estat-navtree-portletprod/BulkDownloadListing?file=data/isoc_cimobi_frq.tsv.gz&unzip=true (http://ec.europa.eu/eurostat/estatnavtree-portlet-prod/BulkDownloadListing?file=data/isoc_cimobi_frq.tsv.gz&unzip=true) W kolejnych punktach będziesz pobierać ten plik. Gdyby podany wyżej link nie był już aktualny, to skorzystaj z dołączonego pliku mobile_internet_use_isoc_cimobi_frq.tsv. Znaczenie symboli określających różne rodzaje połączeń znajdziesz pod adresem http://dd.eionet.europa.eu/vocabulary/eurostat/indic_is/view?E_SECINONE=&page=6
(http://dd.eionet.europa.eu/vocabulary/eurostat/indic_is/view?E_SECINONE=&page=6)
3. Zadeklaruj zmienną url wskazującą na adres z danymi
4. Zaimportuj dane do zmiennej df. Jako separator pól wykorzystaj tabulator
5. Do zmiennej df_desc zapisz data frame utworzony jako wynik rozbicia danych z kolumny indic_is,ind_type,unit,time\geo ze względu na przecinek. Skorzystaj z opcji konwertującej wynik do data frame (expand)
6. W df_desc zmień nazwy kolumn z 0,1,2,3 na 'indic_is','ind_type',unit','time'
7. Korzystając z polecenia join dołacz do df_desc dane z df
8. Z df_desc usuń niepotrzebną już kolumnę 'indic_is,ind_type,unit,time\geo'
9. Pod adresem https://examples.opendatasoft.com/explore/dataset/world-heritage-unesco-list/export/(https://examples.opendatasoft.com/explore/dataset/world-heritage-unesco-list/export/) znajdują się dane dotyczące obiektów na liście UNESCO. Zaimportuj dane dostępne pod adresem https://examples.opendatasoft.com/explore/dataset/world-heritage-unesco-list/download/?format=json&timezone=Europe/Berlin (https://examples.opendatasoft.com/explore/dataset/world-heritage-unescolist/download/?format=json&timezone=Europe/Berlin) Jeżeli plik byłby niedostępny, to skorzystaj z lokalnego pliku world-heritage-unesco-list.json

## Exercise 1

In [1]:
import pandas as pd
import numpy as np

## Exercise 2

## Exercise 3

In [7]:
url = "https://ec.europa.eu/eurostat/estat-navtree-portletprod/BulkDownloadListing?file=data/isoc_cimobi_frq.tsv.gz&unzip=true"

## Exercise 4

In [8]:
df = pd.read_csv(url, delimiter = '\t').head()
df.head()

HTTPError: HTTP Error 404: Not Found

In [11]:
df = pd.read_csv("mobile_internet_use_isoc_cimobi_frq.tsv", delimiter = '\t')
df.head()

,"indic_is,ind_type,unit,time\geo",EU28,EU27,EU15,EA,BE,BG,CZ,DK,DE,...,SI,SK,FI,SE,UK,IS,NO,ME,MK,TR
0,"I_IHDDAY,CB_EU_FOR,PC_IND,2012",15,15,16,12,15,: u,: u,22,7,...,: u,14 u,35 u,35 u,39,16,31 u,:,:,:
1,"I_IHDDAY,CB_EU_FOR,PC_IND_IU3,2012",21,21,21,17,19,: u,: u,22,11,...,: u,17 u,36 u,40 u,46 u,17,32 u,:,:,:
2,"I_IHDDAY,CB_EU_FOR,PC_IND_IUHD,2012",57,57,57,55,48,: u,: u,49 u,60,...,: u,: u,: u,: u,60 u,40 u,50 u,:,:,:
3,"I_IHDDAY,CB_EXT_EU,PC_IND,2012",21,21,22,13,11,25 u,:,35,12,...,3,: u,22,39,39,16 u,32 u,:,:,:
4,"I_IHDDAY,CB_EXT_EU,PC_IND_IU3,2012",28,28,29,19,15,28 u,:,39,14,...,5,: u,24 u,42,43,17 u,32 u,:,:,:

In [ ]:
#df = pd.read_csv(url, delimiter = '\t').head()
#df.head()

## Exercise 5

In [12]:
df_desc = df['indic_is,ind_type,unit,time\geo'].str.split(',',expand=True)
df_desc.head()

          0          1            2     3
0  I_IHDDAY  CB_EU_FOR       PC_IND  2012
1  I_IHDDAY  CB_EU_FOR   PC_IND_IU3  2012
2  I_IHDDAY  CB_EU_FOR  PC_IND_IUHD  2012
3  I_IHDDAY  CB_EXT_EU       PC_IND  2012
4  I_IHDDAY  CB_EXT_EU   PC_IND_IU3  2012

## Exercise 6

In [13]:
df_desc.rename({0:'indic_is',1:',ind_type',2:',unit',3:'time'}, axis=1, inplace=True)
df_desc.head()

   indic_is  ,ind_type        ,unit  time
0  I_IHDDAY  CB_EU_FOR       PC_IND  2012
1  I_IHDDAY  CB_EU_FOR   PC_IND_IU3  2012
2  I_IHDDAY  CB_EU_FOR  PC_IND_IUHD  2012
3  I_IHDDAY  CB_EXT_EU       PC_IND  2012
4  I_IHDDAY  CB_EXT_EU   PC_IND_IU3  2012

## Exervise 7

In [14]:
df_desc = df_desc.join(df)
df_desc.head()

,indic_is,",ind_type",",unit",time,"indic_is,ind_type,unit,time\geo",EU28,EU27,EU15,EA,BE,...,SI,SK,FI,SE,UK,IS,NO,ME,MK,TR
0,I_IHDDAY,CB_EU_FOR,PC_IND,2012,"I_IHDDAY,CB_EU_FOR,PC_IND,2012",15,15,16,12,15,...,: u,14 u,35 u,35 u,39,16,31 u,:,:,:
1,I_IHDDAY,CB_EU_FOR,PC_IND_IU3,2012,"I_IHDDAY,CB_EU_FOR,PC_IND_IU3,2012",21,21,21,17,19,...,: u,17 u,36 u,40 u,46 u,17,32 u,:,:,:
2,I_IHDDAY,CB_EU_FOR,PC_IND_IUHD,2012,"I_IHDDAY,CB_EU_FOR,PC_IND_IUHD,2012",57,57,57,55,48,...,: u,: u,: u,: u,60 u,40 u,50 u,:,:,:
3,I_IHDDAY,CB_EXT_EU,PC_IND,2012,"I_IHDDAY,CB_EXT_EU,PC_IND,2012",21,21,22,13,11,...,3,: u,22,39,39,16 u,32 u,:,:,:
4,I_IHDDAY,CB_EXT_EU,PC_IND_IU3,2012,"I_IHDDAY,CB_EXT_EU,PC_IND_IU3,2012",28,28,29,19,15,...,5,: u,24 u,42,43,17 u,32 u,:,:,:

## Exercise 8

In [15]:
df.drop('indic_is,ind_type,unit,time\geo', axis=1, inplace=True)
df.head()

,EU28,EU27,EU15,EA,BE,BG,CZ,DK,DE,EE,...,SI,SK,FI,SE,UK,IS,NO,ME,MK,TR
0,15,15,16,12,15,: u,: u,22,7,11 u,...,: u,14 u,35 u,35 u,39,16,31 u,:,:,:
1,21,21,21,17,19,: u,: u,22,11,19 u,...,: u,17 u,36 u,40 u,46 u,17,32 u,:,:,:
2,57,57,57,55,48,: u,: u,49 u,60,: u,...,: u,: u,: u,: u,60 u,40 u,50 u,:,:,:
3,21,21,22,13,11,25 u,:,35,12,3,...,3,: u,22,39,39,16 u,32 u,:,:,:
4,28,28,29,19,15,28 u,:,39,14,6,...,5,: u,24 u,42,43,17 u,32 u,:,:,:

## Exercise 9

In [ ]:
url = ""

In [ ]:
pd.read_json(url).head()

In [ ]:
pd.read_json('world-heritage-unesco-list.json').head()